# This is Git's per-user configuration file.
[user]
  name = Meghea Iulian
  email = iulian.meghea@gmail.com
[core]
  ignorecase = true
  excludesfile = ~/.gitignore
[credential]
	helper = /run/current-system/sw/bin/git-credential-gnome-keyring
